body{
	font-family: 'Lato', sans-serif;
	padding: 0 0 0 0;
}

.navbar{
	display: none;
}

a{
	color: inherit;
	font-style: italic;
}

a:hover{
	color: inherit;
}

.notice{
	display: none;
	background-color: #3f51b5;
	color: white;
	margin: 0;
}

.embed-video div#outerWidgetContainer{
	margin: 0 0 0 0;
}

.row{
	padding: 30px 0 30px 0;
	display: flex;
	justify-content: center;
}

.white{
	color: #3f51b5;
}

.blue{
	background-color: #3f51b5;
	color: white;
}

.blue hr{
	border-top: 1px solid white;
}

#outerWidgetContainer{
	margin: 0 0 0 0;
}

.sample{
	color: white;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	font-size: 1.25em;
	background-color: #3f51b5;
	transition: all 2s;
	-webkit-border-radius: 5px 5px 5px 5px; 
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;

}

.sample h4{
	margin: 0;
}

.sample:hover{
	display: normal;
}

.sample-content{
	display: flex;
	justify-content: center;
}

.samples{
	margin: 0 0 20px 0;
	width: auto;
	cursor: pointer; 
	cursor: hand;
}

.hide-content{
	display: none;
}

.item-details h3,
.song-details h3{
	margin-top: 0.5em;
	text-align: center;
}

.song-details h3 span,
.item-details h3 span{
	outline: 1px solid white;
	padding: 0.5em;
}

hr{
	border-top: 1px solid black;
}